body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 730px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}


body details {
  display: block;
}

body summary {
  display: list-item;
}

body a {
  background-color: transparent;
}

body a:active,
body a:hover {
  outline-width: 0;
}

body strong {
  font-weight: inherit;
  font-weight: bolder;
}

body h1 {
  font-size: 2em;
  margin: .67em 0;
}

body img {
  border-style: none;
}

body code,
body kbd,
body pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body input {
  font: inherit;
  margin: 0;
}

body input {
  overflow: visible;
}

body [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body a {
  color: #0366d6;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body strong {
  font-weight: 600;
}

body hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

body hr:before {
  content: "";
  display: table;
}

body hr:after {
  clear: both;
  content: "";
  display: table;
}

body table {
  border-collapse: collapse;
  border-spacing: 0;
}

body td,
body th {
  padding: 0;
}

body details summary {
  cursor: pointer;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-bottom: 0;
  margin-top: 0;
}

body h1 {
  font-size: 32px;
}

body h1,
body h2 {
  font-weight: 600;
}

body h2 {
  font-size: 24px;
}

body h3 {
  font-size: 20px;
}

body h3,
body h4 {
  font-weight: 600;
}

body h4 {
  font-size: 16px;
}

body h5 {
  font-size: 14px;
}

body h5,
body h6 {
  font-weight: 600;
}

body h6 {
  font-size: 12px;
}

body p {
  margin-bottom: 10px;
  margin-top: 0;
}

body blockquote {
  margin: 0;
}

body ol,
body ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman;
}

body ol ol ol,
body ol ul ol,
body ul ol ol,
body ul ul ol {
  list-style-type: lower-alpha;
}

body dd {
  margin-left: 0;
}

body code,
body pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

body pre {
  margin-bottom: 0;
  margin-top: 0;
}

body input::-webkit-inner-spin-button,
body input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


body:before {
  content: "";
  display: table;
}

body:after {
  clear: both;
  content: "";
  display: table;
}

body>:first-child {
  margin-top: 0!important;
}

body>:last-child {
  margin-bottom: 0!important;
}

body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

body blockquote,
body dl,
body ol,
body p,
body pre,
body table,
body ul {
  margin-bottom: 16px;
  margin-top: 0;
}

body hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

body blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

body blockquote>:first-child {
  margin-top: 0;
}

body blockquote>:last-child {
  margin-bottom: 0;
}

body kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

body h1 {
  font-size: 2em;
}

body h1,
body h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

body h2 {
  font-size: 1.5em;
}

body h3 {
  font-size: 1.25em;
}

body h4 {
  font-size: 1em;
}

body h5 {
  font-size: .875em;
}

body h6 {
  color: #6a737d;
  font-size: .85em;
}

body ol,
body ul {
  padding-left: 2em;
}

body ol ol,
body ol ul,
body ul ol,
body ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

body li {
  word-wrap: break-all;
}

body li>p {
  margin-top: 16px;
}

body li+li {
  margin-top: .25em;
}

body dl {
  padding: 0;
}

body dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

body dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

body table {
  display: block;
  overflow: auto;
  width: 100%;
}

body table th {
  font-weight: 600;
}

body table td,
body table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

body img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

body img[align=right] {
  padding-left: 20px;
}

body img[align=left] {
  padding-right: 20px;
}

body code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

body pre {
  word-wrap: normal;
}

body pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

body .highlight {
  margin-bottom: 16px;
}

body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

body .highlight pre,
body pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

body pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

body kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

body :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

body hr {
  border-bottom-color: #eee;
}

button.secondary:hover, .button.secondary:hover {
    background: #eef8ff;
    color: #2098f5;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    color: #333;
}

200~button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
            background-color: #bac3c8;
    }

button.secondary, .button.secondary {
    background: transparent;
    border: 1px solid #94d0ff;
    color: #2098f5;
    padding: 16px 25px;
    font: 400 14px source-sans-pro, sans-serif;
    float: right;
}

button.radius, .button.radius {
    border-radius: 3px;
}

button, .button {
    display: inline-block;
}

button, .button {
    font-weight: 400;
    text-decoration: none !important;
    margin-bottom: 0em;
    font-family: inherit;
    -webkit-transition: 320ms;
    transition: 320ms;
}

button, .button {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
        margin-bottom: 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #2098f5;
    border-color: #0a7cd4;
    color: #fff;
    transition: background-color 300ms ease-out;
}

.breadcrumb {
  padding-left:0;
  margin-left:0;
}

.breadcrumb li{
  display:inline;
  list-style: none;
  font-weight: bold;
}

.breadcrumb li:after {
  content: '/';
 /* padding: 0 3px;*/
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '/';
}

.breadcrumb li a {
  text-decoration: none;
  color: #52b5ee;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

h2 a {
  color: black !important;
}
h3 a {
  color: black !important;
}
h4 a {
  color: black !important;
}
h5 a {
  color: black !important;
}
li a {
  color: gray;
}

.scroll-top {
position: fixed;
right: 20px;
bottom: 20px;
z-index: 100;
background-color: #999;
opacity: .8;
height: 50px;
border-radius: 50%;
border: none;
color: #fff;
}
.scroll-top:hover {
cursor: pointer;
}

mark {
background-color: lightgreen;
}
